
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;1,400&family=Poppins:wght@100;400&display=swap");

html{
  scroll-behavior: smooth;
}

:root{
  --mainFont: 'Genos', sans-serif;
  --spanColor: goldenrod;
  --contentFont: Open Sans;
  --spanFont: 'Tangerine', cursive;
}

body {
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}


/************************************TAG SELECTOR*******************************************/
h1{
  background-image: url('https://images.unsplash.com/photo-1536890274788-51861e124205?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80');
  background-size: cover;/* line 17 - 21 are for bg clipping */
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-size: inherit;
  font-family: 'Miss Fajardose', cursive;
  font-size: 7rem;
  font-weight: bolder;
  /* text-shadow: 0 0 5px black; */
  text-align: center;
}
h3{
  font-family: var(--mainFont);
  font-size: 1rem;
  color: white;
  font-weight: bold;
  text-align: center; 
}
h4{
  background-image: url("https://images.unsplash.com/photo-1556174645-bf4175d73e89?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80");
  background-size: cover;/* line 17 - 21 are for bg clipping */
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-size: inherit;
  font-family: 'Life Savers', cursive;
  font-size: 1.5rem;
  font-weight: bolder;
  /* text-shadow: 0 0 5px black; */
  display: inline-block;
}
p{
  font-family: var(--contentFont);
  font-size: 0.8rem;
  color: black;
  text-align: justify;
  /* text-indent: 30px; */
}
/************************************NAVBAR*******************************************/
.navbar {
  background-color: white;
  font-size: small;
  font-family: var(--contentFont);
  padding-right: 10px;
}
.navbar-brand {
  display: inline-block;
  background-image: url(./images/vecteezy_geometric-gold-frame_17059163_495.png);
  background-size: cover; /* Adjust as needed */
  background-repeat: no-repeat;
  margin-left: 30px;
  padding-top: 20px;
}
.navbar-nav {
  /* margin-right: 15px; */
  text-align: center;
}
/************************************TITLE*******************************************/
.wrapper{
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  perspective: 10px;/* sets the 3d effect or parallex simpy it is the z axis or distance from observer to screen*/
}
header{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  transform-style: preserve-3d;
  z-index: -1;
}
.heropage{ /* The Cover Photo */
  position:absolute;
  width: 100%;
  object-fit: cover;
  z-index: -1;
}
.heropage{
  transform: translateZ(-10px)scale(2);/*The parallax effect*/
}
.title{
  
  height: 500px;
  width: 600px;
  top: 150px;
  left: 850px;
  position: absolute;
  transform: translateZ(-5px)scale(1.5);/*The parallax effect*/
}
.title-content{
   text-align: center;
}
/* .scroll {
  font-size: large;
  writing-mode: vertical-rl;
  top: 90px;
  left: 30px;
  position: absolute;
  color: black;
  font-family: var(--mainFont);
} */

.parag{
  color: whitesmoke;
}

/************************************SECTION*******************************************/
section{
  /* font-size: 2rem; */
  font-family: var(--contentFont);
  padding: 1rem;
  background-image: url("https://images.unsplash.com/photo-1556174645-bf4175d73e89?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80");
  color: white;
  min-height: 300px;
}
.container{
  display: flex;
  gap: 40px;
  margin: auto;
}
.col-lg-4 p{
  text-align: center;
  margin-top: 20px;
}
.col-lg-4{
  text-align: center;
}
.col-lg-6  img{
  border-radius: 5px;
  height: auto;
  max-width: 100%;
}
.col-lg-6 p, .col-lg-4 p{
  padding: 10px;
  box-shadow: 20px 20px 50px rgba(0 , 0, 0, 0.5);
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.1);
  overflow: hidden;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(10px);
  align-items: center;
  justify-content: center;
  text-align: center;
}
/* .carousel{
  position: relative;
  perspective: 1000px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}
/* .carousel::after {
  content: "";
  position: absolute;
  top: 0px;
  right: 10px;
  bottom: -10px;
  left: 10px;
  /* background-color: rgba(0, 0, 0, 0.5); */
  box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.8);
} */
/* .carousel::after {
  content: "";
  position: absolute;
  top: 0px;
  right: 10px;
  bottom: -10px;
  left: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.8);
} */ */
.container-fluid.story-content {
  height: auto;
  padding: 15px;
}
.container-fluid.story-content p{
  color: whitesmoke;
}
.sub_Heading{
  display: inline-block;
  background-image: url("https://media.istockphoto.com/id/1433772840/photo/gold-background-or-texture-and-gradients-shadow.jpg?s=612x612&w=is&k=20&c=lhqed__U49Jxd5IIWaTwzLJEOXjhEDoNQ0K_9DF4o-s=");
  background-size: cover; /* Adjust as needed */
  background-repeat: no-repeat;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-family: 'MonteCarlo', cursive;
  /* color: var(--spanColor); */
  font-size: 1.5rem;
  text-decoration: underline;
  padding-left: 10px;
  padding-right: 10px;
  /* text-shadow: 0 0 5px black; */
}
.presence{
  display: inline-block;
  background-image: url("https://i.pinimg.com/564x/94/23/2b/94232b84ee3b5eea9f570e7a46998694.jpg");
  background-size: cover; /* Adjust as needed */
  background-repeat: no-repeat;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-family: 'MonteCarlo', cursive;
  font-size: 32px;
  text-decoration: underline;
  /* text-shadow: 0 0 5px black; */
}
.colIntro{
  text-align: center;
  padding: 5px;
  margin: 20px;
}
/************************************EVENTDETAILS*******************************************/

.col_Church{
  background-image: url(./images/Lapurisima.jpg);
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5px;
}
.col_Lacasa{
  background-image: url(./images/Lacasa_bg2.jpeg);
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5px;
}

.event_Details{
  /* margin: 20px; */
}
/************************************CAROUSEL*******************************************/


img.prenup-image{
  max-width: 80%;
  max-height: 100%;
  border-radius: 20px;
}
#prenup-carousel{
  max-width: 90%;
  max-height: 90%;
}
.carousel{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
/************************************GALLERY*******************************************/

/* #gallery .row{
  margin-inline: 150px;
} */
#gallery span{
  margin: 20px;
}

/************************************PARALLAX DIVS*******************************************/
.parallax {
  /* The image used */
  background-image: url(./images/R_M_0199.jpg);

  /* Set a specific height */
  min-height: 500px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.parallax1 {
  /* The image used */
  background-image: url(./images/R_M_0331.jpg);

  /* Set a specific height */
  min-height: 500px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax2 {
  /* The image used */
  background-image: url(./images/R_M_0204.jpg);

  /* Set a specific height */
  min-height: 500px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax3 {
  /* The image used */
  background-image: url(./images/R_M_0387.jpg);

  /* Set a specific height */
  min-height: 500px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/************************************CONTAINER-FLUID DIVS*******************************************/
.container-fluid {
  padding: 10px;
  height: auto; 
  background-image: url("https://images.unsplash.com/photo-1556174645-bf4175d73e89?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.row {
  align-items: center;
  justify-content: center;
}


/************************************MEDIA QUERIES*******************************************/

@media only screen and (max-width: 828px) {
  .heropage{
    top: -50px;
  }
  header{
    height: 40%;
  }
  .presence{
    font-size: 1.8rem;
  }
  .parallax{
    background-position: -200px;
  }
  .parallax1{
    background-position: -150px;
  }
  .parallax2{
    background-position: -700px;
  }
  .parallax3{
    background-position: -800px;
  }
  #gallery .row{
  margin-inline: auto;
}
img.prenup-image{
  max-width: 70%;
  max-height: 100%;
  border-radius: 20px;
}
}



/* img {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  transition: box-shadow 0.3s ease;
}

img:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
} */

/************************************ANIMATION*******************************************/
.footer
{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
h2{
  display: inline-block;
  background-image: url("https://media.istockphoto.com/id/1433772840/photo/gold-background-or-texture-and-gradients-shadow.jpg?s=612x612&w=is&k=20&c=lhqed__U49Jxd5IIWaTwzLJEOXjhEDoNQ0K_9DF4o-s=");
  background-size: cover; /* Adjust as needed */
  background-repeat: no-repeat;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  /* font-family: 'MonteCarlo', cursive; */
  /* color: var(--spanColor); */
  font-size: 1.4rem;
  /* text-decoration: underline; */
  /* text-shadow: 0 0 5px black; */
}
.icons{
  max-width: 30%;
  height: auto;
  margin-top: -20px;
}

.myButton {
	box-shadow: 0px 1px 0px 0px #fff6af;
	background-image: url('https://images.unsplash.com/photo-1516041774595-cc1b7969480c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80');
	background-color:#ffec64;
	border-radius:6px;
	border:1px solid #ffaa22;
	display:inline-block;
	cursor:pointer;
	color: whitesmoke;
	font-family: var(--mainFont);
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	/* text-shadow:0px 1px 0px #ffee66; */
}
.myButton:hover {
	background:linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
	background-color:#ffab23;
}
.myButton:active {
	position:relative;
	top:1px;
}

.myButton {
  display: inline-block;
  padding: 10px 20px;
  border: none;
  background-color: #e74c3c;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  animation: zoomInOut 2s infinite alternate;
}

@keyframes zoomInOut {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.myButton:focus {
  outline: none;
}

